header nav li{
    list-style: none;
}

header nav a{
    text-decoration: none;
    color: black;
}

nav{
    height: 30px;
}

header nav a:hover{
    background-color:burlywood;
    font-size: large;
}

header ul{
    display: flex;
    gap: 10px;
    
}

.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}

.hero-container{
    display: flex;
    background-color: lightblue;
    padding: 25px;
    align-items: center;
    font-size: 1.25em;
    border-radius: 25px;
}

body{
    max-width: 1200px;
    margin: 0px auto;
    background-color: rgb(251, 232, 206);
   
}

button{
    padding: 10px 25px;
    background-color: rgb(189, 189, 235);
    font-size: 1.05em;
    cursor: pointer;
    border-radius: 10px;
}