
.newNAV a{
    text-decoration: none;
    color: black;
}

.newNAV a:hover{
    background-color: aquamarine;
    font-size: large;
}

.newNAV li{
    list-style: none;
    
}

.newNAV ul{
    display: flex;
    gap: 10px;
    background-color: blanchedalmond;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0px auto;
    border: 3px solid brown;
    margin-bottom: 10px;

    padding: 0;
}

main a{
    font-size: 1.25em;
}
