nav li a{
    text-decoration: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-left: 15px;
    
}

nav li:hover{
    background-color: gold;
    font-size: large;
    font-weight: bold;
}

nav{
    border: 3px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#anime1{
    margin-top: 5px;
    border: 3px solid blue;
    padding-left: 10px;
}

#title{
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    
}

#info_form{
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 3px solid blue;
}

form .basicINFO label{
    display: block;
}

.ani img{
    width: 70px;
    height: 94px
}